<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: linkbootstrapCss}" }></th:block>
</head>
<body>
<header th:replace="~{layout :: header}"></header>
<div>
    <h1 style="text-align: center"> CUSTOMER LIST</h1>

    <a class="btn btn-white" th:href="@{/customer/addNewCustomer}">+ ADD CUSTOMER</a>
    <form th:action="@{/customer/list}" method="get">
        <div class="row">
            <div class="form-outline my-2 col-3 mx-3">
                <label>
                    <input type="text" name="keyWordName" placeholder="name..." >
                </label>
            </div>
            <div class="form-outline my-2 col-3 mx-3">
                <label>
                    <input type="text" name="keyWordPhone" placeholder="phone..." >
                </label>
            </div>
            <div class="form-outline my-2 col-3 mx-3">
                <select name="customerTypeId" class="form-select" aria-label="Disabled select example">
                    <option value="" th:text="---CustomerType---"></option>
                    <option th:each="customerType : ${customerTypeList}" th:value="${customerType.customerTypeId}"
                            th:text="${customerType.customerTypeName}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark col-2 my-2">Search</button>
        </div>
    </form>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Type Customer</th>
            <th>BirthDate</th>
            <th>Gender</th>
            <th>Id Card</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, stt : ${customers}">
            <th scope="row" th:text="${stt.count}"></th>
            <td>
                <p class="fw-normal mb-1" th:text="${customer.customerName}"></p>
            </td>
            <td th:text="${customer.customerType.customerTypeName}"></td>
            <td th:text="${customer.customerDateOfBirth}">
            </td>
            <td>
                <label th:if="${customer.customerGender  == 1}"> Male
                </label>
                <label th:if="${customer.customerGender  == 0}"> Female
                </label>
            </td>

            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/customer/detailForm(id=${customer.customerId})}">Detail</a>
            </td>
            <td>
                <a class="btn btn-warning" th:href="@{/customer/editForm(id=${customer.customerId})}">Update</a>
            </td>
            <td>
                <a class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                   th:attr="onclick=|deleteModal('${customer.customerId}', '${customer.customerName}')|">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/customer/delete}">
                <div class="modal-body">
                    <input type="hidden" name="id" id="get-id">
                    <h1 style="color: black" id="get-name">
                        Name Customer:
                    </h1>
                    <hr>
                    <p>Are You Sure ???</p>
                    <p style="color: red">this action cant not revert</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete It !</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteModal(id, name) {
        document.getElementById("get-id").value = id;
        document.getElementById("get-name").innerText = name;
    }
</script>
<div class="row">
    <div class="row-lg-12">
        <a th:if="${customers.hasPrevious()}"
           th:href="@{/customer/list(page=${customers.number - 1 }, keyWordName=${keyWordNameVal},
                                                                     keyWordPhone = ${keyWordPhoneVal},
                                                                     customerTypeId = ${customerTypeIdVal})}">
            Previous
        </a>
        <span th:text="${customers.number + 1 }"></span>/
        <span th:text="${customers.totalPages}"></span>
        <a th:if="${customers.hasNext()}"
           th:href="@{/customer/list(page=${customers.number + 1 }, keyWordName=${keyWordNameVal},
                                                                     keyWordPhone = ${keyWordPhoneVal},
                                                                     customerTypeId = ${customerTypeIdVal})}">
            Next
        </a>
    </div>
</div>
</body>
<th:block th:replace="~{layout :: linkbootstrapJS}" }></th:block>

</html>