<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: linkbootstrapCss}" }></th:block>

</head>
<body>
<form action="#" th:action="@{/facility/addFacility}" th:object="${facility}" METHOD="post">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">ADD SERVICE</span></legend>
        <div>
            <input type="hidden" th:field="*{facilityId}" disabled>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="name" type="text" th:field="*{facilityName}"/>
            <label class="form-label" for="name">Service Name</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceArea" type="text" th:field="*{facilityArea}"/>
            <label class="form-label" for="serviceArea">serviceArea</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceCost" type="text" th:field="*{facilityCost}"/>
            <label class="form-label" for="serviceCost">serviceCost</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceMaxPeople" type="text" th:field="*{facilityMaxPeople}"/>
            <label class="form-label" for="serviceMaxPeople">serviceMaxPeople</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="standardRoom" type="text" th:field="*{standardRoom}"/>
            <label class="form-label" for="standardRoom">standardRoom</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="descriptionOtherConvenience" type="text" th:field="*{descriptionOtherConvenience}"/>
            <label class="form-label" for="descriptionOtherConvenience">descriptionOtherConvenience</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4" id="input-pool">
            <input class="form-control" id="pool" type="text" th:field="*{poolArea}"/>
            <label class="form-label" for="pool">Pool Area</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4" id="input-floors">
            <input class="form-control" id="numberOfFloors" type="text" th:field="*{numberOfFloors}"/>
            <label class="form-label" for="numberOfFloors">numberOfFloors</label>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{facilityType}" class="form-select" aria-label="Disabled select example" id="select-facility">
                <option value="0" th:text="---facilityType---"></option>
                <option th:each="facilityType : ${facilityList}" th:value="${facilityType.facilityTypeId}"
                        th:text="${facilityType.facilityTypeName}"></option>
            </select>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{rentType}" class="form-select" aria-label="Disabled select example">
                <option value="0" th:text="---rentType---"></option>
                <option th:each="rentType : ${rentTypeList}" th:value="${rentType.rentTypeId}"
                        th:text="${rentType.rentTypeName}"></option>
            </select>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">ADD</button>
        <button type="button" class="btn btn-warning mt-4 mx-2"><a href="/customer/list">CANCEL</a></button>
    </div>
</form>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#select-facility").change(function () {
            if (this.value == 3) {
                $("#input-pool").hide();
                $("#input-pool").find("input").prop("disabled",true);
                $("#input-floors").hide();
                $("#input-floors").find("input").prop("disabled",true);
            } else if (this.value == 2) {
                $("#input-pool").hide();
                $("#input-pool").find("input").prop("disabled",true);
                $("#input-floors").show();
                $("#input-floors").find("input").prop("disabled",false);
            } else if (this.value == 1) {
                $("#input-pool").show();
                $("#input-pool").find("input").prop("disabled",false);
                $("#input-floors").show();
                $("#input-floors").find("input").prop("disabled",false);
            }
        });
    });
</script>
</body>
<th:block th:replace="~{layout :: linkbootstrapJS}" }></th:block>

</html>